.additional{
    background-color: #D7C097;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.additional-title{
    padding: 100px 50px;
    text-align: center;
    padding-bottom: 50px;
}
.additional-title h1{
    font-size: 3rem;
}
.additional-title p{
    font-size: 19px;
    line-height: 1.5rem;
}
.additional-photos{
    padding: 14px 50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 3rem;
}
.additional-row{
    display: flex;
    gap: 3rem;
}
.additional-row img{
    height: 300px;
    width: 390px;
}
.additional-row img:hover{
    opacity: 0.8;
}