.exterior{
    background-color: #D7C097;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.exterior-title{
    padding: 100px 50px;
    text-align: center;
    padding-bottom: 50px;
}
.exterior-title h1{
    font-size: 3rem;
}
.exterior-title p{
    font-size: 19px;
    line-height: 1.5rem;
}
.exterior-photos{
    padding: 14px 50px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 10px;
}
.exterior-row{
    display: flex;
    gap: 3rem;
}
.exterior-row img{
    height: 300px;
    width: 390px;
}
.exterior-row img:hover{
    opacity: 0.8;
}